* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  padding: 25px;
  margin: 0 auto;
  max-width: 900px;
}

.InfoButton {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0 5px 0 2px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

p {
  line-height: 1.25em;
}

.Modal__scrim {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 24;
  animation: 0.2s linear fade-in;
}

.Modal__content {
  width: 700px;
  max-width: 90vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  padding: 15px 25px;
  animation: 0.2s linear 0.2s both fade-in;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 1rem;
}

.Modal__title {
  margin-top: 0;
}

.random-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.random-links > li:not(:first-of-type) {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid black;
}

a,
a:visited {
  color: blue;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
